{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "environment": "./src/environments/development"
        }
      }
    ]
  ]
}

